; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; http://docs.platformio.org/page/projectconf.html
[platformio]
env_default = megaatmega2560

[common]
build_flags =
  -D ledPin=13
  -D ENA=3
  -D IN1=30
  -D IN2=28
  -D ENB=5
  -D IN3=24
  -D IN4=26
  -D ENC=44
  -D IN5=42
  -D IN6=43
  -D END=45
  -D IN7=41
  -D IN8=40
  -D BAUD_RATE=250000
  
[env:megaatmega2560]
platform = atmelavr
framework = arduino
board = megaatmega2560
build_flags = ${common.build_flags}

[env:uno]
platform = atmelavr
framework = arduino
board = uno
build_flags = ${common.build_flags}
